body{

margin: 0;
padding: 0;
background-color: aquamarine;
text-align: center;

}
#bb{

display: flex;
   
    justify-content: center;
    align-items: center;
}
#box{

    width: 350px;
    height: 300px;
    padding: 20px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3px;
    }
.btn1{
        width: 100px;
        height: 100px;
        font-size: 40px;
        background-color: brown;
        color: chartreuse;
        }

#btn2{

    padding: 20px 30px;
background-color: red;
color: white;
font-size: 20px;
border-radius: 20px;
 }

h2{
background-color: rgb(68, 0, 255);
padding-top: 20px;
color: white;

padding-bottom: 20px;
position: relative;
/*top:300px*/



}

#btn3{

    padding: 20px 30px;
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    position: relative;
    top: -30px;
}

.hide{

display: none;


}

.score{



display: flex;
justify-content: center;
align-items: center;
gap: 50px;
font-size: 50px;

}

#O{

background-color: blue;
color: white;
padding: 10px;
}
#X{

    background-color: blue;
    color: white;
    padding: 10px;
    }










