body{

padding: 0;
margin: 0;
background-color: darkgrey;

text-align: center;

}

h2{


background-color: aquamarine;
margin-top: 0;
padding: 20px;


}




.choices img{

width: 150px;
height: 150px;
padding: 8px;
object-fit: cover;
border-radius: 50%;


}

.choices img:hover{

cursor: pointer;
background-color: black;

}


.scores{

gap:50px;
 display: flex;
 justify-content: center;

align-items: center;

font-size: 30px;

}

.scores .score{

background-color:brown;
width: 100px;
border-radius: 50%;

}

#msg-con{

 margin-top: 50px;



}

#msg{

    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;


}


.btn{

margin-top: 30px;




}
.btn button{


    padding: 20px;
    background-color: crimson;
    border-radius: 10px;
    font-size: 20px;

}